.header {
    width: calc(100% - 5rem);
    background-color: lightblue;
    height: 220px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-left: 5rem;
    border-bottom: 2px solid rgb(99, 130, 189);
    gap: 10px;
    padding: 0px 10px;
}

.header-img {
    width: 250px;
    height: 200px;
}

.header-title {
    color: white;
    font-size: 60px;
    display: inline-block;
    word-wrap: break-word;
}

.login-button {
    background-color: transparent;
    color: white;
    font-size: 20px;
    border: none;
    display: flex;
    cursor: pointer;
    word-wrap: break-word;
}

button:hover {
    color: rgb(99, 130, 189);
}

button mat-icon {
    padding-right: 30px;
}

.head-trimmed {
    width: calc(100% - 16rem);
    margin-left: 16rem;
}

.head-md-screen {
    width: calc(100% - 5rem);
    margin-left: 5rem;
}

.shopping-link-icon {
    font-size: 22px;
    width: 2rem;
    min-width: 2rem;
    margin: 0 0.5rem;
    text-align: center;
}

.shopping-link {
    display: flex;
    align-items: center;
    height: 3rem;
    color: #fff;
    background-color: rgb(99, 130, 189, 0.4);
    text-decoration: none;
    border-radius: 0.625rem;
    transition: all .3s ease;
    padding-right: 10px;

    .shopping-link-icon {
        font-size: 22px;
        width: 2rem;
        min-width: 2rem;
        margin: 0 0.5rem;
        text-align: center;
    }
}

.shopping-link:hover,
.shopping-link:focus {
    background-color: rgb(99, 130, 189);
}

.icon-div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    justify-content: center;
}

@media (max-width: 1024px) {
    .icon-div {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
}

@media (max-width: 767px) {
    .header {
        display: flex;
        flex-direction: column;
        height: fit-content;
        gap: 15px;
        padding: 0px 20px 20px 20px;
    }

    .header-img {
        width: 100%;
        height: 200px;
    }

    .header-title {
        font-size: 40px;
        display: inline-block;
        word-wrap: break-word;
    }

}