<div class="wrapper">
    <div class="container">
        <h2 mat-dialog-title>Unesite kod za aktivaciju naloga</h2>
        <mat-dialog-content>
            <!-- <span>Trenutni pin je {{data.user.pin}}</span>-->
            <div class="pin-input">
                <input type="text" #firstInput maxlength="1" (keydown)="handleKeyDown($event, 0)" [(ngModel)]="pin[0]">
                <input type="text" maxlength="1" (keydown)="handleKeyDown($event, 1)" [(ngModel)]="pin[1]">
                <input type="text" maxlength="1" (keydown)="handleKeyDown($event, 2)" [(ngModel)]="pin[2]">
                <input type="text" maxlength="1" (keydown)="handleKeyDown($event, 3)" [(ngModel)]="pin[3]">
            </div>
        </mat-dialog-content>
        <mat-dialog-actions class=" btn-container">
            <button mat-button (click)="onCancel()">Otkaži</button>
            <button mat-button (click)="onSubmit()">Potvrdi</button>
        </mat-dialog-actions>
    </div>
</div>