<div class="toolbar">
    <span>Moje kupovine</span>
</div>
<div *ngIf="items != undefined && items.length ==0" class="no-elements">
    <span>Još uvijek niste obavili kupovinu</span>
</div>
<div class="content">
    <div fxLayout="row wrap" fxLayoutGap="20px grid">
        <div fxFlex="25%" fxFlex.md="33%" fxFlex.sm="50%" fxFlex.xs="100%" *ngFor="let item of items">
            <div>
                <mat-card class="mat-element-card">
                    <mat-card-header class="mat-element-header">
                        <mat-card-title class="mat-element-title"
                            style="text-align: center;">{{item.name}}</mat-card-title>
                        <mat-card-subtitle class="mat-element-subtitle"
                            style="text-align: center;">{{item.category_name}}</mat-card-subtitle>
                    </mat-card-header>
                    <div *ngIf="item.images != undefined" class="image-container">
                        <img mat-card-image [src]="item.images[0]" alt="Photo" class="mat-img">
                    </div>
                    <mat-card-content>
                        <p class="text-limit">
                            {{item.description}}
                        </p>
                        <div class="mat-price">
                            <i style="font-size: small;">{{item.date | amDateFormat: 'DD.MM.YYYY HH:mm:ss'}}</i>
                            <b>{{item.price}}KM</b>
                        </div>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>