.toolbar {
    background-color: rgb(99, 130, 189);
    color: #fff;
    height: 64px;
    border-radius: 10px;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -20px;
    margin-bottom: 20px;
    box-shadow: 0.25rem 0.25rem 0.55rem #8690a3;
}

.mat-element-card {
    background-color: transparent;
    box-shadow: 0 0.05rem 0.75rem #8690a3;
    border-radius: 10px;
    /*height: 420px;*/
    display: flex;
    padding-bottom: 10px;

    .mat-element-header {
        background-color: lightblue;
        border-radius: 10px;
        padding: 10px;
        justify-content: center;
        margin: 10px;

        .mat-element-title {
            color: #fff;
            font-size: 17px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 38px;
        }


        .mat-element-subtitle {
            color: #fff;
            font-style: italic;
            font-size: 14px;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
            overflow: hidden;
        }
    }

    .image-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mat-img {
        margin: 0 20px 10px 20px;
        height: 200px;
        max-width: 100%;
        object-fit: fill;
    }

    .mat-price {
        margin-top: 10px;
        font-size: large;
        display: flex;
        justify-content: space-between;
    }
}

/*za prelom teksta iz p taga*/
.text-limit {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 4;
    overflow: hidden;
}

.no-elements {
    text-align: center;
    margin-top: 50px;
    font-size: 20px;
}

@media (max-width: 767px) {
    .text-limit {
        -webkit-line-clamp: 5;
    }
}