<div class="toolbar">
    <span>Kreirajte novi oglas</span>
</div>

<form class="form-style" [formGroup]="newItemForm" (ngSubmit)="onAddNewItem()">

    <mat-form-field appearance="outline">
        <mat-label>Naziv proizvoda</mat-label>
        <input matInput required formControlName="nameControl" [(ngModel)]="newItem.name" name="name">
        <mat-error *ngIf="newItemForm.controls['nameControl'].hasError('required')">
            Ovo polje je obavezno!
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Opis</mat-label>
        <input matInput required formControlName="descriptionControl" [(ngModel)]="newItem.description"
            name="description">
        <mat-error *ngIf=" newItemForm.controls['descriptionControl'].hasError('required')">
            Ovo polje je obavezno!
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Kategorija</mat-label>
        <mat-select (selectionChange)="onCategoryChanged($event)" formControlName="categoryControl" required
            [(ngModel)]="newItem.category_id" name="category">
            <mat-option *ngFor="let category of categories" [value]="category.id">
                {{category.name}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf=" newItemForm.controls['categoryControl'].hasError('required')">
            Ovo polje je obavezno!
        </mat-error>
    </mat-form-field>


    <mat-form-field appearance="outline">
        <mat-label>Cijena (BAM)</mat-label>
        <input matInput required formControlName="priceControl" placeholder="Cijena" [(ngModel)]="newItem.price"
            name="price">
        <mat-error *ngIf="newItemForm.controls['priceControl'].hasError('required')">
            Ovo polje je obavezno!
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Lokacija</mat-label>
        <input matInput required formControlName="locationControl" placeholder="Lokacija" [(ngModel)]="newItem.location"
            name="location">
        <mat-error *ngIf="newItemForm.controls['locationControl'].hasError('required')">
            Ovo polje je obavezno!
        </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
        <mat-label>Stanje proizvoda</mat-label>
        <mat-select required="true" formControlName="statusControl" [(ngModel)]=" newItem.status" name="status">
            <mat-option value=1>Novo</mat-option>
            <mat-option value=2>Korišteno</mat-option>
        </mat-select>
        <mat-error *ngIf=" newItemForm.controls['statusControl'].hasError('required')">
            Ovo polje je obavezno!
        </mat-error>
    </mat-form-field>

    <div *ngIf="newItem.category_id!=-1" class="attribute-grid">
        <div *ngFor="let attr of newItemAttributes">
            <mat-form-field appearance="outline">
                <mat-label>{{attr.attribute.name}}</mat-label>
                <input matInput formControlName="infoControl" placeholder="{{attr.attribute.name}}"
                    [(ngModel)]="attr.value" name="{{attr.attribute.name}}">
                <mat-error *ngIf="newItemForm.controls['infoControl'].hasError('required')">
                    Ovo polje je obavezno!
                </mat-error>
            </mat-form-field>
        </div>
    </div>

    <!--  
    <input type="file" class="file-picker" (change)="onFileSelected($event)" #fileUpload>
    -->
    <button mat-raised-button class="updateButton">Kreiraj oglas</button>
</form>